{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"><!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/detailbase.css' %}"><!-- frame -->
  <link href="{% static 'img/icon.png' %}" rel="icon"> <!-- fabicon -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- bootstrap -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'static/home.css'}">
  <title>Moseek</title>
</head>

<body>
  <div id="container">`
    <div id="iconbox">
      <a href="{% url 'home' %}"><img src="{% static 'img/icon.png' %}" id="icon"></a>
    </div>
    <form action="{% url 'create' %}" method="POST" class="urlbox">
      {% csrf_token %}
      <div class="input-group mb-3">
        <div class="interactive">
          <input type="text" class="form-control" placeholder="URL 입력" name="url" aria-label="Recipient's username"
            aria-describedby="button-addon2" id="urlbar">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">모식도 생성</button>
        </div>
      </div>
    </form>
    <form action="{% url 'example' %}" method="POST" class="examplebox">
      {% csrf_token %}
      <ul id="list">
        <div class="w3-dropdown-hover">
          <a name="ex_url" value="single" class="w3-button w3-black">Single Group 예시</a>
          <div id="single" class="w3-dropdown-content w3-bar-block w3-border">
            <button type="submit" name="NCT" value="0" class="w3-bar-item w3-button">NCT05446467</button>
            <button type="submit" name="NCT" value="1" class="w3-bar-item w3-button">NCT03727152</button>
            <button type="submit" name="NCT" value="2" class="w3-bar-item w3-button">NCT03457311</button>
          </div>
        </div>
        <div class="w3-dropdown-hover">
          <a name="ex_url" value="crossover" class="w3-button w3-black">Crossover 예시</a>
          <div id="crossover" class="w3-dropdown-content w3-bar-block w3-border">
            <button type="submit" name="NCT" value="3" class="w3-bar-item w3-button">NCT02040376</button>
            <button type="submit" name="NCT" value="4" class="w3-bar-item w3-button">NCT04450953</button>
            <button type="submit" name="NCT" value="5" class="w3-bar-item w3-button">NCT03208218</button>
          </div>
        </div>
        <div class="w3-dropdown-hover">
          <a name="ex_url" value="parallel" class="w3-button w3-black">Parallel 예시</a>
          <div id="parallel" class="w3-dropdown-content w3-bar-block w3-border">
            <button type="submit" name="NCT" value="6" class="w3-bar-item w3-button">NCT00482833</button>
            <button type="submit" name="NCT" value="7" class="w3-bar-item w3-button">NCT03507790</button>
            <button type="submit" name="NCT" value="8" class="w3-bar-item w3-button">NCT01723228</button>
          </div>
        </div>
      </ul>
    </form>
  </div>
  <hr style="border: 1px solid rgb(134, 135, 138);" width="100%">
  {% block content %}

  {% endblock %}


</body>

</html>