#container {
    margin:20px 20px auto;
    height: 1000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7,1fr);
  }     
  #iconbox {
    grid-column-start: 1;
    grid-row-start: 1;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  #icon {
    width:80px;
    height: 80px;
  }
  .urlbox {
    grid-column: 1/6;
    grid-row-start: 1;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    left:100px;
  }
  .interactive {
  display:flex;
  flex-direction: row;
  justify-content: left;

}
#urlbar {
  width:500px
}