/* #content {
    margin:10px 10px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    overflow-x: hidden;
  }
#graph{
  /* display: flex; */
  /* width:100%; */
  /* flex-direction: row;
  justify-content: left; */
/* }
#trial{ */
  /* height: 800px;
  width: 700px; */
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  /* overflow-y: auto;
  overflow-x: hidden;
  width: 97%;
  height: 1080px; */
  
/* } */
#content {
    margin:10px 10px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    height: 130vh;
    overflow-x: hidden;
  }
#element {
  flex: 1 1 auto;
}

#trial{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#graph{
  overflow-x: auto;
}

.handler {
  width: 20px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
}

.handler::before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background: white;
}