#container {
    margin:20px 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }     
  #iconbox {
    position: static;
  }
  #icon {
    width:80px;
    height: 80px;
  }
  .urlbox {
    position:relative;
    left:50px;
  }
  .interactive {
  display:flex;
  flex-direction: row;
  justify-content: left;

}
#urlbar {
  width:500px
}

.examplebox {
  position: relative;
  left: 200px;
  display:flex;
  align-items: center;
}

#list {
    list-style-type: none;
}
