#content {
  margin:10px 10px auto;
  display: flex;
  flex-direction: row-reverse;
  height: 130vh;
}
#element {
flex: 1 1 auto;
height: 100%;
width: 800px;
}

#trial{
height: 100%;
width: 100%;
overflow-y: auto;
overflow-x: hidden;
}
#graph{
overflow-x: auto;
}

.handler {
width: 10px;
padding: 0;
cursor: ew-resize;
flex: 0 0 auto;
}

.handler::before {
content: '';
display: block;
width: 4px;
height: 100%;
background: white;
}